.products__rating{
    display: flex;
}
.products{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
}

.products img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 13px;
}
.products__price{
    margin-top: 5px;
}
.products__info{
    margin-bottom:15px ;
    height: 100px;
}
.products button{
    background-color: #f0c14b;
    width: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}